body{
    font-family: 'Paytone One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif;
}
h1{
    font-size: 50px;
}
 .brown-color{
     color: brown;
 }   
    
section{
    display: flex;
    margin-bottom: 150px ; 
    padding-left: 10%;
    padding-right:5%;

}
.half-width{
    width: 50%;
}
.half-width img{
    width:80% ;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius:5px;
}
.text-align{
    text-align: center;
    
}
.recepie-area{
  padding: 5px;
  width: 10px 20px ;
}
.box-shadow{
    box-shadow: 10px 20px 100px white;
}